<nav aria-label="breadcrumb" class="breadcrumb-nav position-relative">
    <div class="position-absolute top-50 start-5 translate-middle-y">
        <h1 class="py-3">{{ pageTitle }}</h1>
        <ol class="breadcrumb py-3">
            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
            <li class="breadcrumb-item active text-white" aria-current="page">{{ pageTitle }}</li>
        </ol>
    </div>
</nav>