<footer class="container-fluid py-2 text-center">
  <a href="#"><i class="bi bi-facebook"></i></a>
  <a href="#"><i class="bi bi-instagram"></i></a>
  <p class="text-muted pt-1">© 2022 Charles Cantin. <a href="#">Mentions légales.</a></p>
</footer>