---
layout: layout.njk
pageTitle: Contact
description: Charles Cantin, photographe, une question ? Contactez-moi pour vos évènements et séances photo !
---
<!-- Contact Page -->
<main>
    <div class="m-5 form-container" >
        <div class="row h-100 g-0 justify-content-around">
            <div class="col-md-6 text-center my-auto" >
                <div class="col-md-8 mx-md-5">
                    <h2>Me contacter</h2>
                    <p class="text-muted mx-md-5">Vous pouvez utiliser ce formulaire afin de me contacter pour avoir des renseignements sur mes prestations, effectuer une réservation ou un devis.</p>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Form with netlify tag and check validation -->
                <form class="needs-validation" novalidate="" name="contact-form" netlify>
                    <div class="row g-3">
                        <div class="col-md-8">
                            <label for="name" class="form-label">Nom</label>
                            <input type="text" class="form-control bg-light" name="name" id="name" placeholder="Mon nom" required>
                            <div class="invalid-feedback">
                                Votre nom est requis.
                            </div>
                        </div>

                        <div class="col-md-8">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control bg-light" name="email" id="email" placeholder="jean.dupont@exemple.fr" required>
                            <div class="invalid-feedback">
                                Veuillez entrer une adresse email valide.
                            </div>
                        </div>

                        <div class="col-md-8">
                            <label for="message" class="form-label">Message</label>
                            <textarea class="form-control bg-light" name="message" id="message" rows="3" placeholder="Mon message" required></textarea>
                            <div class="invalid-feedback">
                                Veuillez indiquer un message.
                            </div>
                        </div>

                        <div class="form-check col-md-8">
                            <input type="checkbox" class="form-check-input" id="conditions" required>
                            <label class="form-check-label" for="conditions">J'accepte la <a href="#">politique de confidentialité des données</a>.</label>
                            <div class="invalid-feedback">
                                Veuillez accepter la politique de confidentialité.
                            </div>
                        </div>
                        <div class="col-md-8 my-4 position-relative">
                            <button class="btn btn-primary my-4 col-md-4 position-absolute top-50 start-50 translate-middle" type="submit" data-bs-toggle="modal" data-bs-target="#validationModal">ENVOYER</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

