---
layout: layout.njk
pageTitle: Galerie
---
<main>
    <section class="py-4 text-center container">
        <div class="dropdown dropdown-filters">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                FILTRER
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li class="dropdown-item filter active" data-filter="all">Tout</li>
                <li class="dropdown-item filter" data-filter="pregnancy">Grossesse</li>
                <li class="dropdown-item filter" data-filter="baby">Bébé</li>
                <li class="dropdown-item filter" data-filter="family">Famille</li>
                <li class="dropdown-item filter" data-filter="baptism">Baptême</li>
                <li class="dropdown-item filter" data-filter="couple">Couple</li>
                <li class="dropdown-item filter" data-filter="portrait">Portrait</li>
            </ul>
        </div>
        <div class="btns-filters">
            <button class="btn filter active" data-filter="all">Tout</button>
            <button class="btn filter" data-filter="pregnancy">Grossesse</button>
            <button class="btn filter" data-filter="baby">Bébé</button>
            <button class="btn filter" data-filter="family">Famille</button>
            <button class="btn filter" data-filter="baptism">Baptême</button>
            <button class="btn filter" data-filter="couple">Couple</button>
            <button class="btn filter" data-filter="portrait">Portrait</button>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 gallery">
                <div class="col gallery-image" data-item="baby">
                    <div class="card shadow-sm">
                        <svg class="card-img" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    </div>
                </div>
                <div class="col gallery-image" data-item="couple">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    </div>
                </div>
                <div class="col gallery-image" data-item="baby">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    </div>
                </div>
                <div class="col gallery-image" data-item="baby">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    </div>
                </div>
                <div class="col gallery-image" data-item="portrait">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    </div>
                </div>
                <div class="col gallery-image" data-item="portrait">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    </div>
                </div>
                <div class="col gallery-image" data-item="baby">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    </div>
                </div>
                <div class="col gallery-image" data-item="baby">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    </div>
                </div>
                <div class="col gallery-image" data-item="baby">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    </div>
                </div>
                <div class="col gallery-image" data-item="baby">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
