---
layout: layout.njk
pageTitle: Galerie
---
<main>
    <section class="py-4 text-center container">
        <div class="dropdown dropdown-filters">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                FILTRER
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li class="dropdown-item filter active" data-filter="all">Tout</li>
                <li class="dropdown-item filter" data-filter="Grossesse">Grossesse</li>
                <li class="dropdown-item filter" data-filter="Bébé">Bébé</li>
                <li class="dropdown-item filter" data-filter="Famille">Famille</li>
                <li class="dropdown-item filter" data-filter="Baptême">Baptême</li>
                <li class="dropdown-item filter" data-filter="Couple">Couple</li>
                <li class="dropdown-item filter" data-filter="Portrait">Portrait</li>
            </ul>
        </div>
        <div class="btns-filters">
            <button class="btn filter active" data-filter="all">Tout</button>
            <button class="btn filter" data-filter="Grossesse">Grossesse</button>
            <button class="btn filter" data-filter="Bébé">Bébé</button>
            <button class="btn filter" data-filter="Famille">Famille</button>
            <button class="btn filter" data-filter="Baptême">Baptême</button>
            <button class="btn filter" data-filter="Couple">Couple</button>
            <button class="btn filter" data-filter="Portrait">Portrait</button>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 gallery">
                {% for picture in collections.pictures %}
                    <div class="col gallery-image" data-item="{{ picture.data.filter }}">
                        <div class="card shadow-sm">
                            <img src={{ picture.data.picture}} alt="" class="card-img">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
