---
layout: layout.njk
pageTitle: Accueil
---
<!-- Home page cover -->
<main class="cover container-fluid position-relative">
    <div class="text-white text-center ">
        <div class="position-absolute top-50 start-50 translate-middle">
            <h1>Charles Cantin</h1>
            <h2>photographe</h2>
        </div>
    </div>
</main>