---
layout: layout.njk
pageTitle: Prestations
---
<main>
    {% for prestation in collections.prestations %}
    <div class="card m-5 prestation" >
        <div class="row g-0">
            {% if prestation.data.position === "Gauche" %}
                <div class="col-md-6" >
                    <img src={{ prestation.data.image }} class="img-fluid" alt="...">
                </div>
                <div class="col-md-6 position-relative">
                    <div class="card-body">
                        <h2 class="card-title">{{ prestation.data.title }}</h2>
                        <p class="card-text price"><i class="bi bi-currency-euro"></i>{{ prestation.data.price }}</p>
                        <p class="card-text description">{{ prestation.data.description }}</p>
                        <button class="btn"><a href="/contact">CONTACTEZ-MOI</a></button>
                    </div>
                </div>
            {% else %}
                <div class="col-md-6 position-relative">
                    <div class="card-body">
                        <h2 class="card-title">{{ prestation.data.title }}</h2>
                        <p class="card-text price"><i class="bi bi-currency-euro"></i>{{ prestation.data.price }}</p>
                        <p class="card-text description">{{ prestation.data.description }}</p>
                        <button class="btn"><a href="/contact">CONTACTEZ-MOI</a></button>
                    </div>
                </div>
                <div class="col-md-6" >
                    <img src={{ prestation.data.image }} class="img-fluid" alt="...">
                </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</main>